<!DOCTYPE html>
<table>
    <tbody>
        <tr>
            <td><img src={{.Logo}}>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {{.Name}}<br>
                <b>{{.Title}}</b><br>
                <a href={{.CompanyURL}} target="_blank"><span zeum4c4="PR_2_0" data-ddnwab="PR_2_0"
                        aria-invalid="grammar" class="Lm ng">{{.CompanyName}}</span></a><br>
                Phone: {{.Phone}}<br>
            </td>
        </tr>
    </tbody>
</table>